.CardHeader {
    display: block;
    width:100%;
    margin:auto;
    padding:unset;
    padding-top:10px;
    background:#61bfad;
    border:solid #61bfad;
}
.CardBody {
    display: block;
    width:100%;
    margin:auto;
}
.Card{
    border:none;
}

.CardTitle {
    font-size: calc(5px + 1vmin);
    padding-left: 15px;
    vertical-align: middle;
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
}

.CardDescription{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.SquareIcon {
    width: calc(5px + 2vmin);
    height: calc(5px + 2vmin);
    vertical-align: middle;
    margin-right:calc(5px + 2vmin);
    position: relative;
}

.CardBlock {
  display: block;
  align-items: center;
  position: relative;
  margin-top: -10px;
  margin-bottom: 20px;
}

.RemoveButton {
  background-color: lightgray;
  display: block;
  width: 40px;
  height: 25px;
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px;
  border-radius: 10px;
}